[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dsmSearch"]
	path = dsmSearch
	url = https://github.com/billbillbilly/dsmsearch
[submodule "gloBFPr"]
	path = gloBFPr
	url = https://github.com/billbillbilly/globfpr
[submodule "quickPWCR"]
	path = quickPWCR
	url = https://github.com/billbillbilly/quickpwcr
[submodule "streetscape"]
	path = streetscape
	url = https://github.com/billbillbilly/streetscape
